:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --secondary-bg-color: #2f303a;
  --white-bg-color: #ffffff;
  --crew-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --adress-text-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--white-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
/*Header*/
header {
  background-color: var(--white-bg-color);
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.blacklogo {
  color: var(--title-text-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* Site nav */
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--accent-color);
}

/* Auth nav */
.auth-nav .link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.auth-nav .link:hover,
.link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--secondary-bg-color);
  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--white-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */
.button {
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 73px;

  color: var(--title-text-color);
  background-color: var(--crew-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-decoration: none;
  cursor: pointer;
}
.filter-buttons .button:hover,
.filter-buttons .button:focus {
  color: var(--white-bg-color);
  background-color: var(--accent-color);
}

.button.primary {
  padding: 10px 32px;

  color: var(--white-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding {
  padding-bottom: 0;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* Advantages */
.advantages .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantages p {
  margin-top: 0;
  margin-bottom: 0;
}
/* Crew */
.crew {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--crew-bg-color);
}
.crew-list .title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}
.crew-list .description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.2;
}

/* Footer */
.whitelogo {
  color: var(--white-bg-color);
}
footer {
  background-color: var(--secondary-bg-color);
}
/* Address */
.address {
  color: var(--white-bg-color);
  font-style: normal;
}
.auth .link {
  color: var(--adress-text-color);
  text-decoration: none;
}
.auth .link:hover,
.auth .link:focus {
  color: var(--white-bg-color);
}

/* Portfolio */
.portfolio-items .link {
  text-decoration: none;
}

.portfolio-items .title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-items .description {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.8;
}
